In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn import preprocessing
from sklearn import model_selection
from sklearn import tree
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

## (a) Get Data

In [39]:
df = pd.read_csv("Coffee-modified.csv")
df

,ID,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.00,2200.00,2075.00
1,2,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.00,2200.00,2075.00
2,3,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.00,1800.00,1700.00
3,4,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.00,2200.00,2000.00
4,5,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.00,2200.00,2075.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,1307,Arabica,juan carlos garcia lopez,Mexico,el centenario,NaN,"la esperanza, municipio juchique de ferrer, ve...",1104328663,terra mia,900,...,None,20,"September 17th, 2013",AMECAFE,59e396ad6e22a1c22b248f958e1da2bd8af85272,0eb4ee5b3f47b20b049548a2fd1e7d4a2b70d0a7,m,900.00,900.00,900.00
1307,1308,Arabica,myriam kaplan-pasternak,Haiti,200 farms,NaN,coeb koperativ ekselsyo basen (350 members),NaN,haiti coffee,~350m,...,Blue-Green,16,"May 24th, 2013",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,350.00,350.00,350.00
1308,1309,Arabica,"exportadora atlantic, s.a.",Nicaragua,finca las marÃ­as,017-053-0211/ 017-053-0212,beneficio atlantic condega,017-053-0211/ 017-053-0212,exportadora atlantic s.a,1100,...,Green,5,"June 6th, 2018",Instituto HondureÃ±o del CafÃ©,b4660a57e9f8cc613ae5b8f02bfce8634c763ab4,7f521ca403540f81ec99daec7da19c2788393880,m,1100.00,1100.00,1100.00
1309,1310,Arabica,juan luis alvarado romero,Guatemala,finca el limon,NaN,beneficio serben,11/853/165,unicafe,4650,...,Green,4,"May 24th, 2013",Asociacion Nacional Del CafÃ©,b1f20fe3a819fd6b2ee0eb8fdc3da256604f1e53,724f04ad10ed31dbb9d260f0dfd221ba48be8a95,ft,1417.32,1417.32,1417.32
1310,1312,Arabica,bismarck castro,Honduras,los hicaques,103,cigrah s.a de c.v.,13-111-053,cigrah s.a de c.v,1400,...,Green,2,"April 28th, 2018",Instituto HondureÃ±o del CafÃ©,b4660a57e9f8cc613ae5b8f02bfce8634c763ab4,7f521ca403540f81ec99daec7da19c2788393880,m,1400.00,1400.00,1400.00

In [40]:
df = df[['Total.Cup.Points', 'Species','Country.of.Origin','Processing.Method', 'Aroma', 'Flavor', 'Aftertaste',
'Acidity','Body', 'Balance', 'Uniformity', 'Moisture', 'altitude_mean_meters']]
df

,Total.Cup.Points,Species,Country.of.Origin,Processing.Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Moisture,altitude_mean_meters
0,90.58,Arabica,Ethiopia,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.00,0.12,2075.00
1,89.92,Arabica,Ethiopia,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.00,0.12,2075.00
2,89.75,Arabica,Guatemala,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.00,0.00,1700.00
3,89.00,Arabica,Ethiopia,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.00,0.11,2000.00
4,88.83,Arabica,Ethiopia,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.00,0.12,2075.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,68.33,Arabica,Mexico,Washed / Wet,7.08,6.83,6.25,7.42,7.25,6.75,10.00,0.11,900.00
1307,67.92,Arabica,Haiti,Natural / Dry,6.75,6.58,6.42,6.67,7.08,6.67,9.33,0.14,350.00
1308,63.08,Arabica,Nicaragua,Other,7.25,6.58,6.33,6.25,6.42,6.08,6.00,0.13,1100.00
1309,59.83,Arabica,Guatemala,Washed / Wet,7.50,6.67,6.67,7.67,7.33,6.67,8.00,0.10,1417.32
1310,0.00,Arabica,Honduras,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.12,1400.00

In [41]:
dataset = df.dropna()
dataset

,Total.Cup.Points,Species,Country.of.Origin,Processing.Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Moisture,altitude_mean_meters
0,90.58,Arabica,Ethiopia,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.00,0.12,2075.00
1,89.92,Arabica,Ethiopia,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.00,0.12,2075.00
3,89.00,Arabica,Ethiopia,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.00,0.11,2000.00
4,88.83,Arabica,Ethiopia,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.00,0.12,2075.00
9,88.25,Arabica,Ethiopia,Natural / Dry,8.08,8.58,8.50,8.50,7.67,8.42,10.00,0.10,1822.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,69.17,Arabica,Honduras,Washed / Wet,7.00,6.33,6.17,6.50,6.67,6.17,8.00,0.10,1450.00
1306,68.33,Arabica,Mexico,Washed / Wet,7.08,6.83,6.25,7.42,7.25,6.75,10.00,0.11,900.00
1307,67.92,Arabica,Haiti,Natural / Dry,6.75,6.58,6.42,6.67,7.08,6.67,9.33,0.14,350.00
1308,63.08,Arabica,Nicaragua,Other,7.25,6.58,6.33,6.25,6.42,6.08,6.00,0.13,1100.00
1309,59.83,Arabica,Guatemala,Washed / Wet,7.50,6.67,6.67,7.67,7.33,6.67,8.00,0.10,1417.32

In [42]:
dataset.describe()

,Total.Cup.Points,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Moisture,altitude_mean_meters
count,1003.000000,1003.000000,1003.000000,1003.000000,1003.000000,1003.000000,1003.000000,1003.000000,1003.000000,1003.000000
mean,82.126949,7.567488,7.513779,7.385633,7.526221,7.504287,7.499302,9.870219,0.094985,1816.792017
std,2.631610,0.301361,0.324487,0.332735,0.307827,0.272824,0.340801,0.445371,0.043468,9112.472930
min,59.830000,5.080000,6.170000,6.170000,5.250000,6.330000,6.080000,6.000000,0.000000,1.000000
25%,81.170000,7.420000,7.330000,7.170000,7.330000,7.330000,7.330000,10.000000,0.100000,1100.000000
50%,82.420000,7.580000,7.500000,7.420000,7.500000,7.500000,7.500000,10.000000,0.110000,1310.640000
75%,83.580000,7.750000,7.670000,7.580000,7.670000,7.670000,7.670000,10.000000,0.120000,1600.000000
max,90.580000,8.750000,8.830000,8.670000,8.750000,8.500000,8.580000,10.000000,0.170000,190164.000000

In [43]:
Y = dataset[['Total.Cup.Points']]
Y

      Total.Cup.Points
0                90.58
1                89.92
3                89.00
4                88.83
9                88.25
...                ...
1305             69.17
1306             68.33
1307             67.92
1308             63.08
1309             59.83

[1003 rows x 1 columns]

In [44]:
X = dataset.iloc[:,1:13]
X

,Species,Country.of.Origin,Processing.Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Moisture,altitude_mean_meters
0,Arabica,Ethiopia,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.00,0.12,2075.00
1,Arabica,Ethiopia,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.00,0.12,2075.00
3,Arabica,Ethiopia,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.00,0.11,2000.00
4,Arabica,Ethiopia,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.00,0.12,2075.00
9,Arabica,Ethiopia,Natural / Dry,8.08,8.58,8.50,8.50,7.67,8.42,10.00,0.10,1822.50
...,...,...,...,...,...,...,...,...,...,...,...,...
1305,Arabica,Honduras,Washed / Wet,7.00,6.33,6.17,6.50,6.67,6.17,8.00,0.10,1450.00
1306,Arabica,Mexico,Washed / Wet,7.08,6.83,6.25,7.42,7.25,6.75,10.00,0.11,900.00
1307,Arabica,Haiti,Natural / Dry,6.75,6.58,6.42,6.67,7.08,6.67,9.33,0.14,350.00
1308,Arabica,Nicaragua,Other,7.25,6.58,6.33,6.25,6.42,6.08,6.00,0.13,1100.00
1309,Arabica,Guatemala,Washed / Wet,7.50,6.67,6.67,7.67,7.33,6.67,8.00,0.10,1417.32

## (b) Data Preparation (prepare Y)

In [45]:
rating_pctile = np.percentile( Y, [75, 90])
rating_pctile

array([83.58, 84.58])

In [46]:
# data ที่ใช้ไม่ใช่ dataframe ไม่งั้นเวลาเข้า loop จะเป็น str
Y_dataset = Y['Total.Cup.Points']
Y_dataset

0       90.58
1       89.92
3       89.00
4       88.83
9       88.25
        ...
1305    69.17
1306    68.33
1307    67.92
1308    63.08
1309    59.83
Name: Total.Cup.Points, Length: 1003, dtype: float64

In [47]:
Y_list = []
grade1 = 0
grade2 = 0
grade3 = 0
for i in Y_dataset:
    if (i < 83.58): 
        Bean_grade = 1
        Y_list.append(Bean_grade)
        grade1=grade1+1
    if (83.58 <= i < 84.58): 
        Bean_grade = 2
        Y_list.append(Bean_grade)
        grade2=grade2+1 
    if (i >= 84.58): 
        Bean_grade = 3
        Y_list.append(Bean_grade)
        grade3=grade3+1

figdata = pd.DataFrame([[1,grade1],[2,grade2],[3,grade3]],columns = ["Bean_grade","NSamples"])

In [55]:
figdata

   Bean_grade  NSamples
0           1       746
1           2       152
2           3       105

In [48]:
fig = px.bar( figdata, x = 'Bean_grade', y = 'NSamples', color='NSamples', range_y=[0.0,1000])
fig.show()

## (c) Data preparation (Prepare X)

In [54]:
# Standardized data ( X [ numerical feature columns ])
Y_0 = pd.DataFrame()
Y_0['Bean_grade'] = Y_list
Y_0

      Bean_grade
0              3
1              3
2              3
3              3
4              3
...          ...
998            1
999            1
1000           1
1001           1
1002           1

[1003 rows x 1 columns]